.field {
    border: solid;
    padding: 30px 20px 10px 20px;
    width: 250px;
    margin: 30px auto 0 auto;
    margin-top: 170px;
}
h1 {
    display: inline;
    padding-left: 40px;
    margin-left: 5px;
    font-family: "Amatic SC", "Times New Roman", Helvetica;
    font-size: 50px;
}
.name {
    text-align: center;
    margin-top: 20px;
}
.last {
    text-align: center;
}
.email {
    text-align:center;
    margin-bottom: 20px;
}
.button {
    text-align: center;
    margin-bottom: 5px;
}
input {
    margin-bottom: 10px;
    padding: 5px;
}
input[type=submit] {
    padding-left: 105px;
    padding-right: 105px;

}